/**
 * Button
 */
.button {   
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: var(--padding);
  user-select: none;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color-primary);
  border-radius: var(--border-radius);
  color: #fff;
  font-family: var(--font-family);
  font-size: 1.5em;
  font-weight: 500;
  transition: all 0.12s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  fill: #ffffff;
}

.button__text {
  padding: 0 calc(var(--padding) / 2) ;
}

.button--block {
  width: 100%;
}

.button--small {
  padding: calc(var(--padding)/2) calc(var(--padding) * 2);
  font-size: 17px;
  font-weight: 500;
}

.button--outline {
  background-color: transparent;
}


/**
 * Button group
 */
.button-group {
  display: flex;
}

.button-group .button {
  cursor: pointer;
}

.button-group .button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group .button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.icon {
  width: 32px;
  height: 32px;
}
