/**
 * Card
 */
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius);
  position: relative;
}

.card__body {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
}

.card__title {
  margin: 0 0 calc(var(--margin)/3) 0;
  flex: 1 50%;
}

.card__currency {
  flex: 1 50%;
  text-align: right;
  align-self: flex-start;
}

.card__text {
  color: var(--color-default);
  margin: 0;
}

.card--empty .card__body {
  display: block;
}